/* index.css ou App.css */

/* Globalement, appliquer les styles */
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #000; /* Fond noir global */
  color: white; /* Texte en blanc pour contraster avec le fond noir */
}

/* Style pour le code, le cas échéant */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
